body { padding:0; margin:0; font-family: "Î¢ÈíÑÅºÚ";}

.header{ color:#f37944; border-bottom:solid 2px #f37944; font-size:20px; height:50px; margin-bottom:0px;}
.header img{margin: 5px 10px 5px 10px; width:40px; height:40px;}
.header span{vertical-align:10px}